:host {
  display: block;
  padding: 5px 10px;
}

h3, h4, h5 {
  margin: 0;
}

paper-item::shadow paper-ripple {
  color: #0288d1;
}

.content {
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  paper-item::shadow .button-content {
    padding: 0.3em 0.6em;;
  }
}

.form-title {
  font-style: italic;
  margin-right: 10px;
  min-width: 160px;
}