link(rel='import', href='../bower_components/core-collapse/core-collapse.html')
link(rel='import', href='../bower_components/core-header-panel/core-header-panel.html')
link(rel='import', href='../bower_components/paper-input/paper-input.html')
link(rel='import', href='../bower_components/paper-shadow/paper-shadow.html')
link(rel='import', href='../bower_components/paper-item/paper-item.html')
link(rel='import', href='../bower_components/cp-clipboard/cp-clipboard.html')


link(rel='import' href='./irregular-verb/irregular-verb.html')
link(rel='import' href='./irregular-verbs-list/irregular-verbs-list.html')
