html
  head
    title Irregular Verbs
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1, maximum-scale=1.0', name='viewport')
    script(src='./bower_components/webcomponentsjs/webcomponents.min.js')
    link(rel='import', href='./components/components.html')
    link(rel='stylesheet' href='bower_components/normalize.css/normalize.css')
  body
    org-chart